[MESSAGES CONTROL]
disable = attribute-defined-outside-init, blacklisted-name, fixme, invalid-name, method-hidden, missing-docstring, too-few-public-methods, too-many-arguments, too-many-instance-attributes, too-many-nested-blocks, too-many-branches, too-many-lines, too-many-locals, too-many-public-methods, too-many-statements, wrong-import-order
max-line-length=135

[SIMILARITIES]
# Restricting duplicate-code check:
min-similarity-lines=10
