include           PyPIReadme.rst
recursive-include fpdf     *
recursive-exclude fpdf     *.pyc
recursive-exclude scripts  *
recursive-exclude test     *
recursive-exclude tutorial *

# added by check_manifest.py
exclude *.md
exclude *.yml
include LICENSE
exclude tox.ini

include README.md
