mkdocs
mkdocs-material
mkdocs-include-markdown-plugin
mkdocs-with-pdf
pdoc3
# We lock weasyprint version to avoid the following error:
# TypeError: 'float' object is not iterable
# https://github.com/PyFPDF/fpdf2/runs/7263726951
weasyprint==55.0